body {
    font-family: Arial, sans-serif;
}

textarea {
    height: 80vh;
    resize: none;
}

#preview {
    height: 80vh;
    overflow-y: auto;
    padding: 10px;
    border-left: 2px solid #ddd;
}

